.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  padding: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

table, td, dh {
  border: 1px solid #aaa;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead, th {
  height: 30px;
}

tbody, td {
  text-align: center;
  padding: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
